/*
Theme Name: $sitio
Author: Carlos Isaias Ruiz
Author URL: http://i-w.mx
Description: The 2015 theme for $sitio is a fully responsive theme that looks great on any device.
Version: 1.0
License: Propietary Software rights
Text Domain: $sitio
*/

.section-div {margin: 0;padding: 0;width: 100%;display: block;background-size: cover;background-position: 50% 50%;}
.pad-und-lg{padding: 100px 0 100px 0;}
.pad-und-md{padding: 70px 0 70px 0;}
.pad-und-sm{padding: 40px 0 40px 0;}
.display-none {display: none;}
.down-head {margin-top: 80px;}
.fullWidth {width: 100%;margin-left: auto;margin-right: auto;max-width: initial !important;}